.postsContainer {
  width: 90%;
  max-width: 80rem;
  margin: auto;

  animation: fade-in 500ms ease-out forwards;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.header {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .header {
    font-size: 3rem;
  }
}

