.postsContainer {
  width: 90%;
  max-width: 80rem;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .header {
    font-size: 3rem;
  }
}

