.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
}

.container p {
  text-align: start;
  line-height: 1.8;
}

.container h1 {
  text-align: center;
  font-size: 3rem;
}

.imgContainer {
  width: 100%;
  text-align: center;
  margin: 2rem;
}

.code {
  max-width: 900px;
}
