.container {
  width: 60vw;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.container p {
  text-align: start;
  line-height: 1.8;
}

.container h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
}

.container li {
  line-height: 2em;
}

.container a {
  text-decoration: underline;
}

.imgContainer {
  width: 100%;
  text-align: center;
}

.imgContainer img{
  max-width: 60%;
}

@media (max-width: 790px) {
  .container {
    width: 90vw
  }
}

@media (max-width: 480px) {
  .container {
    width: 90vw;
  }
  
  .container h1 {
    text-align: center;
    font-size: 2.6rem;
  }
  
  .container h2 {
    font-size: 1.2rem;
  }
  
  .container p {
    text-align: start;
    line-height: 1.5;
  }
  .container li {
    line-height: 1em;
  }
}
