.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 70vw;
}

.header {
  text-align: center;
  font-size: 3rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.imgContainer {
  padding: 0.5rem;
}

.textContainer {
  width: 70%;
  max-width: 673px;
  padding: 0.5rem 1rem;
}

.name {
  text-align: center;
}

@media (max-width: 1100px) {
  .linkContainer {
    flex-direction: column;
  }

  .textContainer {
    width: 100%;
  }

  .textContainer h2 {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }

  .linkContainer {
    margin: 0;
  }

  .imgContainer {
    padding: 0;
  }

  .textContainer {
    width: 100%;
  }
}