@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
}
body {
  --background: #f4f7f9;
  --text: #011638;
  --nav: #0D1821;
  --nav-text: #fff;
  --nav-input-bg: #fff;
  --nav-input-border: 1px solid #011638;
  --button-bg: ;
  --button-border: #011638;
  --button-text: #fff;
  --button-hover: ;
  --button-hover-text: #738290;

  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
