.btnAndList {
  position: relative;
}

.btn {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: all .2s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: var(--button-hover);
  color: var(--button-hover-text);
}



