.btnAndList {
  position: relative;
}

.btn {
  background: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  padding: 0.3rem 1.8rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: var(--button-hover);
  color: var(--button-hover-text);
}



