.header {
	position: sticky;
	top: 0;
  width: 100%;
  height: 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--nav);
  color: var(--nav-text)
}

.logoContainer,
.menuContainer {
  width: 30vw;
}

.logoContainer {
  text-align: start;
}

.menuContainer {
  text-align: end;
}
