.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background: white;
  font-weight: 400;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  width: 15rem;
  align-items: flex-start;
  border-radius: 5px;
  right: 0px;
}

.list li {
  list-style: none;
  width: 100%;
  text-align: center;
  color: #011638;
}

.list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 7px 0;
}

.list li:hover {
  background-color: rgb(238, 238, 238);
}

@media (max-width: 515px) {
  .list {
    display: none;
  }
}