.search {
  position: relative;
  border-bottom: 1px solid #fff;
}

.input {
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  width: 15rem;
  background: transparent;
  border: none;
  max-width: 100%;
  color: #fff;
}

.input:focus {
  outline: none;
}

@media (max-width: 555px) {
  .input {
    display: none;
  }
}