.search {
  position: relative;
}

.input {
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background: var(--nav-input-bg);
  border: var(--nav-input-border);
  max-width: 100%;
}

.input:focus {
  outline: none;
}

@media (max-width: 500px) {
  .input {
    display: none;
  }
}